  <title>ByCycling Settings</title>
  <link rel="stylesheet" href="/src/app/css/styles.css">
  <div class="page-content">

  <div class="row">
    <div class="col-md-2">
      <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
          <!-- Main menu -->
          <li><a routerLink="/dashboard"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
          <li class="current"><a routerLink="/settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
          <li><a routerLink="/feedback"><i class="glyphicon glyphicon-heart"></i> Send feedback</a></li>

        </ul>
      </div>
    </div>
    <div class="col-md-10">

      <div class="row">
        <div class="col-md-6">
          <div class="content-box-large-edit">
            <div class="panel-heading">
              <div class="panel-title"><strong>Login and company information</strong></div>


              <!--	<div class="panel-options">
                      <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                      <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                  </div>-->
            </div>


            <div class="content-box-large-edit">

              <div class="panel-body">

                <div class="form-edit">

                  <form action="/update/info" method="post" name="companyInfo" id="companyInfo"
                        enctype="application/x-www-form-urlencoded"
                        class="login-form">

                    <input id="name" type="name" name="name" placeholder="Company name"
                           value={{profile.user_metadata.company_name}} required>
                    <input id="email" type="email" name="email" placeholder="Login email"
                           value={{profile.name}} required>
                    <input id="domain" type="text" name="domain" placeholder="Company email domain"
                           value={{profile.user_metadata.company_domain}} required>
                    <br>

                    <strong>Company address:</strong>
                    <br><br>

                    <div class="address">

                      <input id="street" type="text" name="street" placeholder="Street"
                             value={{profile.user_metadata.company_street}} required>
                      <input id="number" type="number" name="number" placeholder="#" min="0"
                             value={{profile.user_metadata.company_number}} required>
                      <input id="city" type="text" name="city" placeholder="City"
                             value={{profile.user_metadata.company_city}} required>
                      <input id="country" type="country" name="country" placeholder="Country"
                             value={{profile.user_metadata.company_country}} required>
                      <input id="code" type="text" name="code" placeholder="ZIP code"
                             value={{profile.user_metadata.company_zip}} required>
                    </div>

                    <br><br>


                    <button>Update</button>

                  </form>

                  <br> <br> <br>

                  <form action="/update/password" method="post" name="changePassword"
                        id="changePassword" enctype="application/x-www-form-urlencoded"
                        class="login-form">

                    <strong>Change password:</strong><br><br>
                    <input id="currentPassword" type="password" name="currentPassword"
                           placeholder="Current password" required>
                    <input id="newPassword" type="password" name="newPassword"
                           placeholder="New Password" required>
                    <button>Update</button>

                  </form>
                </div>
              </div>
            </div>


          </div>


        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="content-box-large-edit-s">
              <div class="panel-heading">
                <div class="panel-title"><strong>Incentives Setup</strong></div>

                <div class="panel-body">

                  <div class="form-edit">


                    This form is set to calculate the price per km recommended for your organisation.
                    Please fill in your desired budget per user per month, and we'll take it from
                    there and give you the best option.
                    <br>
                    <br>

                    <form action="/update/incentives" method="post" name="changePassword"
                          id="changeincentives" enctype="application/x-www-form-urlencoded"
                          class="login-form">

                      <input id="budget" type="number" name="budget" min="0"
                             placeholder="Budget per person per month in euros"
                             value=$company.budget>
                      #if($company.budget != "")
                      The price per km will be $perKm, based on the average commute distance in your country.
                      <br><br>
                      #end
                      <strong>Monthly report starting date:</strong>
                      <br><br>
                      <input id="date" type="date" name="date" max="2050-12-31" min="2016-01-01"
                             placeholder="yyyy-mm-dd" value=$company.date>
                      <button>Update</button>


                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
