<script src='https://www.google.com/recaptcha/api.js'></script>

<body>
    <div class="container">
        <!--   <object type="image/svg+xml" data="../img/BC_logo_x1.png" class="cd-logo-1x"></object>
  <object type="image/svg+xml" data="../img/cd-logo-2.svg" class="cd-logo-2x"></object>
  <img src="../img/BC_logo_x2.png"> -->
    </div>
    <div class="login-page">
        <div class="form">
            <form [formGroup]="rForm" (ngSubmit)="sendRegisterData(rForm.value)">
                <input type="text" placeholder="Company ID" formControlName="companyID" required>
                <br/>
                <input type="text" placeholder="E-mail" formControlName="email" required>
                <br/>
                <input type="text" placeholder="Username" formControlName="username" required>
                <input type="password" placeholder="Password" formControlName="password" required>
                <br>
                <br>
                <div class="g-recaptcha" name="g-recaptcha-response" data-theme="light" data-sitekey="6LflVCETAAAAAHj_Hnux8GIoHc60vD4VQ9aLtVVq" style="transform:scale(1.19);-webkit-transform:scale(1.19);transform-origin:0 0;-webkit-transform-origin:0 0;">
                </div>
                <br>
                <br>
                <button type=submit>create</button>
                <p class="message">Already registered? <a class="submit-button" routerLink="/login">Sign In</a></p>
                <p class="message">Not a registered company yet? <a class="submit-button" routerLink="/register/company">Register company</a></p>
            </form>
        </div>
    </div>
</body>
