<title>
    ByCycling Dashboard</title>
<link rel="stylesheet" href="/src/app/css/styles.css">
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a routerLink="/dashboard"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                    <li><a routerLink="/settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
                    <li><a routerLink="/feedback"><i class="glyphicon glyphicon-heart"></i> Send feedback</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-box-large">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <strong>Employees Activity from $startDate to $endDate</strong> #if (!$budgetSet)
                                <p>*You can set incentives in the Settings screen</p>
                                #end
                            </div>
                            <!--  <div class="panel-options">
                      <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                      <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                  </div>-->
                        </div>
                        <div class="content-box-large">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Distance</th>
                                                <th>Time</th>
                                                <th>Rides</th>
                                                #if ($budgetSet)
                                                <th>Earnings</th>
                                                #end
                                            </tr>
                                        </thead>
                                        #set($rowNumber = 1) #foreach( $user in $usersData )
                                        <tbody>
                                            <tr>
                                                <td>
                                                    $rowNumber
                                                </td>
                                                <td>
                                                    {{ profile.nickname }}
                                                </td>
                                                <td>
                                                    {{ profile.name }}
                                                </td>
                                                <td>
                                                    {{ profile.user_metadata.formatDistance }}
                                                </td>
                                                <td>
                                                    {{ profile.user_metadata.formatTime }}
                                                </td>
                                                <td>
                                                    {{ profile.user_metadata.rides }}
                                                </td>
                                                #if ($budgetSet)
                                                <td>
                                                    {{ profile.user_metadata.formatEarnings }}
                                                </td>
                                                #end
                                            </tr>
                                            #set($rowNumber = $rowNumber + 1) #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
