@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('/fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-Medium';
    src: url('/fonts/AvenirNext-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-UltraLight';
    src: url('/fonts/AvenirNext-UltraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
