<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- jQuery UI -->
  <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">
  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  rel="stylesheet">
  <!-- styles -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  </head>
<body>

  <router-outlet></router-outlet>

<!-- <div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <!-- Logo -->
      <!--   <object data="/src/app/img/cd-logo.svg" type="image/svg+xml" class="cd-logo"></object>
        <object data="/src/app/img/cd-logo-2.svg" type="image/svg+xml" class="cd-logo-2x"></object> -->
      <!-- </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="login-email">
              <p>Email:</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="navbar navbar-inverse" role="banner">
          <ul class="nav navbar-nav">
            <li>
                <div class="form">
                  <button>Log out</button>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> --> 
</body>