<head>
    <title>ByCycling Login</title>
</head>

<body>
    <!-- <div class="container">
  <object data="/src/app/img/cd-logo.svg" type="image/svg+xml" class="cd-logo"></object>
  <object data="/src/app/img/cd-logo-2.svg" type="image/svg+xml" class="cd-logo-2x"></object>
</div> -->
    <div class="login-page">
        <div class="form">
            <form [formGroup]="rForm" (ngSubmit)="senddata(rForm.value)">
                <input type="email" placeholder="E-mail" formControlName="email">
                <br/>
                <input type="password" placeholder="Password" formControlName="password">
                <button type="submit">login</button>
            </form>
            <label>Don't have an account? </label> <a routerLink="/register">Sign up</a>
            <br>
            <label>Not a registered company yet?</label> <a class="submit-button" routerLink="/register/company">Register company</a>
        </div>
    </div>
</body>
