<title>ByCycling Feedback</title>
<div class="page-content">

<div class="row">
        <div class="col-md-2">
          <div class="sidebar content-box" style="display: block;">
            <ul class="nav">
              <!-- Main menu -->
              <li><a routerLink="/dashboard"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
              <li><a routerLink="/settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
              <li class="current"><a routerLink="/feedback"><i class="glyphicon glyphicon-heart"></i> Send feedback</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <div class="content-box-large-f">
                <div class="panel-heading">
                  <div class="panel-title"><strong>Send feedback</strong></div>
                </div>
                <div class="content-box-large-f">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <div class="feedback">
                        <form accept-charset="utf-8" name="feedbackForm" id="feedbackForm" method="post"
                              enctype="application/x-www-form-urlencoded" class="feedback-form">
                          <strong>Issue:</strong> <select name="issue">
                          <option value="not set">please make a selection</option>
                          <option value="error">I found an error</option>
                          <option value="improvement">I would like you to improve...</option>
                          <option value="help">I need help</option>
                          <option value="question">I have a question</option>
                          <option value="other">Other</option>
                        </select>
                          <br><br>
                          <textarea name="message" id="message"
                                    placeholder="Feedback" form="feedbackForm"></textarea>
                          <input name="contact-submit" type="submit" value="Send">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="form-bottom">
        <button (click)="auth.logout()">LOG OUT</button>
    </div>
    <!--<footer>
         <div class="container">

            <div class="copy text-center">
              <p>COPYRIGHT BYCYCLING 2016</p>
            </div>

      </div>
      </footer>-->
    <link href="/node_modules/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" media="screen">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../css/bootstrap/js/bootstrap.min.js"></script>
    <script src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="/node_modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="../../js/custom.js"></script>
    <script src="../../js/tables.js"></script>
</div>
