<!DOCTYPE html>
<html lang="en">
<head>
<title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>

  <link rel="shortcut icon" type="image/png" src="./BC-favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" type="text/css">

  <script type="type/javascript" src="../node_modules/core-js/client/shim.min.js"></script>
  <script type="type/javascript" src="../node_modules/reflect-metadata/Reflect.js"></script>
  <script type="type/javascript" src="../node_modules/systemjs/dist/system.src.js"></script>
</head>
<body>

  <my-app></my-app>

</body>
</html>
