<title>ByCycling Dashboard</title>

<link rel="stylesheet" href="/src/app/css/styles.css">
<div class="page-content">
  <div class="row">
    <div class="col-md-2">
      <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
          <!-- Main menu -->
          <li class="current"><a routerLink="/dashboard"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
          <li><a routerLink="/settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
          <li><a routerLink="/feedback"><i class="glyphicon glyphicon-heart"></i> Send feedback</a></li>

        </ul>
      </div>
    </div>
    <div class="col-md-10">

      <div class="row">
        <div class="col-md-6">
          <div class="content-box-large-edit">
            <div class="panel-heading">
              <div class="panel-title"><strong>Page not found</strong></div>
            </div>
            <strong> We're sorry, the page you are looking for could not be found</strong>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
