<script src='https://www.google.com/recaptcha/api.js'></script>

<body>
    <div class="container">
        <!--   <object type="image/svg+xml" data="../img/BC_logo_x1.png" class="cd-logo-1x"></object>
  <object type="image/svg+xml" data="../img/cd-logo-2.svg" class="cd-logo-2x"></object>
  <img src="../img/BC_logo_x2.png"> -->
    </div>
    <div class="login-page">
        <div class="form">
            <form [formGroup]="rForm" (ngSubmit)="sendRegisterData(rForm.value)">
                <input type="text" placeholder="Company name" formControlName="name" required>
                <br/>
                <input type="number" placeholder="Tier" formControlName="tier" required>
                <br/>
                <input type="number" placeholder="Are you a partner?" formControlName="isPartner" required>
                <input type="text" placeholder="Password for the company" formControlName="passphrase" required>
                <input type="text" placeholder="Domain" formControlName="domain" required>
                <br/>
                <input type="text" placeholder="Working start hour" formControlName="validStartHour" required>
                <br/>
                <input type="text" placeholder="Working end hour" formControlName="validEndHour" required>
                <input type="number" placeholder="Starting day" formControlName="validStartDay" required>
                <input type="number" placeholder="Ending day" formControlName="validEndDay" required>
                <br/>
                <label>Day of reporting</label>
                <input type="date" value="{{date | date : 'yyyy-mm-dd'}}" formControlName="reportStartDay" required>
                <br/>
                <input type="number" placeholder="Budget" formControlName="budget" required>
                <input type="number" placeholder="Average commuting distance" formControlName="averageCommuteDistance" required>
                <input type="text" placeholder="Username" formControlName="username" required>
                <br/>
                <input type="text" placeholder="E-mail" formControlName="email" required>
                <br/>
                <input type="text" placeholder="Password" formControlName="password" required>
                <p>{{test | date:'yyyy-mm-dd'}}</p>
                <!-- <br><br>
    <div class="g-recaptcha" name="g-recaptcha-response" data-theme="light"
         data-sitekey="6LflVCETAAAAAHj_Hnux8GIoHc60vD4VQ9aLtVVq"
         style="transform:scale(1.19);-webkit-transform:scale(1.19);transform-origin:0 0;-webkit-transform-origin:0 0;">
    </div> -->
                <br>
                <br>
                <button type="submit">create</button>
                <p class="message">Already a registered company? <a class="submit-button" routerLink="/login">Sign In</a></p>
            </form>
        </div>
    </div>
</body>
